.auth-container {
  font-size: x-large;
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
}

.button {
  width: 150px;
  height: 50px;
  font-size: x-large;
  margin-top: 5px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code {
  width: 300px;
  height: 300px;
  display: none;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}