[workspace]
resolver = "2"

members = ["src/wasm"]

[profile.release]
lto = true
strip = true

[patch.crates-io]
rusqlite = { git = "https://github.com/navigraph/rusqlite", rev = "afc438df23aa7e92fa5c69bfccfb51d930569965" }
