/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  width: 300px;
  text-align: center;
}

/* Dropdown button */
.dropdown-toggle {
  background: white;
  color: black;
  padding: 10px;
  width: 100%;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown-menu li {
  padding: 10px;
  width: 100%;
}
