on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build WASM module
        run: npm run build:wasm-workflow
      - name: Upload WASM module to GitHub
        uses: actions/upload-artifact@v2
        with:
          name: msfs_navdata_interface.wasm
          path: ./out/msfs_navdata_interface.wasm
