on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
      - "!v*-rc*"
      - "!v*-alpha*"
      - "!v*-beta*"

name: Create release
run-name: Create release for `${{ github.ref_name }}`

permissions:
  id-token: write # Required for OIDC

jobs:
  # release-wasm:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         filter: blob:none

  #     - name: Create env file
  #       run: |
  #         echo SENTRY_URL=${{ secrets.SENTRY_URL }} >> .env

  #     - uses: oven-sh/setup-bun@v2
  #       with:
  #         bun-version: latest

  #     - name: Install node modules
  #       run: bun i --frozen-lockfile

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Build cargo-msfs image
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: .
  #         file: Dockerfile
  #         tags: navigation-data-interface-wasm-build:latest
  #         load: true
  #         cache-from: type=gha
  #         cache-to: type=gha

  #     - name: Cache target directories
  #       uses: actions/cache@v4
  #       with:
  #         path: targets
  #         key: rust-targets

  #     - name: Build WASM
  #       run: bun run build:wasm && bun run package

  #     - name: Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         files: |
  #           ./dist/wasm.zip
  #         generate_release_notes: true

  release-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install node modules
        run: bun i --frozen-lockfile

      - name: Build JS Interface
        run: cd src/ts && bun run build

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Publish to NPM
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: cd src/ts && npm publish
